In [1]:
import pandas as pd 
import numpy as np

In [2]:
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline

In [3]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [4]:
data = pd.concat([train,test])

In [5]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 1458
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             2919 non-null   int64
 1   MSSubClass     2919 non-null   int64
 2   MSZoning       2915 non-null   object
 3   LotFrontage    2433 non-null   float64
 4   LotArea        2919 non-null   int64
 5   Street         2919 non-null   object
 6   Alley          198 non-null    object
 7   LotShape       2919 non-null   object
 8   LandContour    2919 non-null   object
 9   Utilities      2917 non-null   object
 10  LotConfig      2919 non-null   object
 11  LandSlope      2919 non-null   object
 12  Neighborhood   2919 non-null   object
 13  Condition1     2919 non-null   object
 14  Condition2     2919 non-null   object
 15  BldgType       2919 non-null   object
 16  HouseStyle     2919 non-null   object
 17  OverallQual    2919 non-null   int64
 18  OverallCond    2919 non-null   int64
 19  YearBuilt      2919 non-null   int64
 20  YearRemodAdd   2919 non-null   int64
 21  RoofStyle      2919 non-null   object
 22  RoofMatl       2919 non-null   object
 23  Exterior1st    2918 non-null   object
 24  Exterior2nd    2918 non-null   object
 25  MasVnrType     2895 non-null   object
 26  MasVnrArea     2896 non-null   float64
 27  ExterQual      2919 non-null   object
 28  ExterCond      2919 non-null   object
 29  Foundation     2919 non-null   object
 30  BsmtQual       2838 non-null   object
 31  BsmtCond       2837 non-null   object
 32  BsmtExposure   2837 non-null   object
 33  BsmtFinType1   2840 non-null   object
 34  BsmtFinSF1     2918 non-null   float64
 35  BsmtFinType2   2839 non-null   object
 36  BsmtFinSF2     2918 non-null   float64
 37  BsmtUnfSF      2918 non-null   float64
 38  TotalBsmtSF    2918 non-null   float64
 39  Heating        2919 non-null   object
 40  HeatingQC      2919 non-null   object
 41  CentralAir     2919 non-null   object
 42  Electrical     2918 non-null   object
 43  1stFlrSF       2919 non-null   int64
 44  2ndFlrSF       2919 non-null   int64
 45  LowQualFinSF   2919 non-null   int64
 46  GrLivArea      2919 non-null   int64
 47  BsmtFullBath   2917 non-null   float64
 48  BsmtHalfBath   2917 non-null   float64
 49  FullBath       2919 non-null   int64
 50  HalfBath       2919 non-null   int64
 51  BedroomAbvGr   2919 non-null   int64
 52  KitchenAbvGr   2919 non-null   int64
 53  KitchenQual    2918 non-null   object
 54  TotRmsAbvGrd   2919 non-null   int64
 55  Functional     2917 non-null   object
 56  Fireplaces     2919 non-null   int64
 57  FireplaceQu    1499 non-null   object
 58  GarageType     2762 non-null   object
 59  GarageYrBlt    2760 non-null   float64
 60  GarageFinish   2760 non-null   object
 61  GarageCars     2918 non-null   float64
 62  GarageArea     2918 non-null   float64
 63  GarageQual     2760 non-null   object
 64  GarageCond     2760 non-null   object
 65  PavedDrive     2919 non-null   object
 66  WoodDeckSF     2919 non-null   int64
 67  OpenPorchSF    2919 non-null   int64
 68  EnclosedPorch  2919 non-null   int64
 69  3SsnPorch      2919 non-null   int64
 70  ScreenPorch    2919 non-null   int64
 71  PoolArea       2919 non-null   int64
 72  PoolQC         10 non-null     object
 73  Fence          571 non-null    object
 74  MiscFeature    105 non-null    object
 75  MiscVal        2919 non-null   int64
 76  MoSold         2919 non-null   int64
 77  YrSold         2919 non-null   int64
 78  SaleType       2918 non-null   object
 79  SaleCondition  2919 non-null   object
 80  SalePrice      1460 non-null   float64
dtypes: float64(12), int64(26), object(43)
memory usage: 1.8+ MB

In [7]:
data.describe().columns

Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

In [8]:
cathegorical_data = data.select_dtypes(include="object")

In [9]:
numeric_data = data.select_dtypes(include=["float64","int64"])

In [10]:
numeric_data.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706.0,...,0,61,0,0,0,0,0,2,2008,208500.0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978.0,...,298,0,0,0,0,0,0,5,2007,181500.0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486.0,...,0,42,0,0,0,0,0,9,2008,223500.0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216.0,...,0,35,272,0,0,0,0,2,2006,140000.0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655.0,...,192,84,0,0,0,0,0,12,2008,250000.0

In [46]:
not_importent = numeric_data.corr()["SalePrice"][numeric_data.corr()["SalePrice"].values < 0.3 ].keys()

In [47]:
numeric_data = numeric_data.drop(not_importent,axis=1)

In [48]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
itr_imp = IterativeImputer(random_state=0)

#knn_imp = KNNImputer(n_neighbors=15, weights="uniform")

In [49]:
imputed_numeric = pd.DataFrame(itr_imp.fit_transform(numeric_data.drop("SalePrice",axis=1)),columns=numeric_data.drop("SalePrice",axis=1).columns)

In [50]:
imputed_numeric["SalePrice"] = numeric_data["SalePrice"].values

In [51]:
pd.concat([imputed_numeric.corr()["SalePrice"],numeric_data.corr()["SalePrice"]],axis=1)

              SalePrice  SalePrice
LotFrontage    0.367722   0.351799
OverallQual    0.790982   0.790982
YearBuilt      0.522897   0.522897
YearRemodAdd   0.507101   0.507101
MasVnrArea     0.477927   0.477493
BsmtFinSF1     0.386420   0.386420
TotalBsmtSF    0.613581   0.613581
1stFlrSF       0.605852   0.605852
2ndFlrSF       0.319334   0.319334
GrLivArea      0.708624   0.708624
FullBath       0.560664   0.560664
TotRmsAbvGrd   0.533723   0.533723
Fireplaces     0.466929   0.466929
GarageYrBlt    0.518591   0.486362
GarageCars     0.640409   0.640409
GarageArea     0.623431   0.623431
WoodDeckSF     0.324413   0.324413
OpenPorchSF    0.315856   0.315856
SalePrice      1.000000   1.000000

In [52]:
ordinal_data =  cathegorical_data[["BsmtQual","BsmtCond","BsmtExposure","ExterQual","ExterCond","HeatingQC" \
     ,"KitchenQual","FireplaceQu","GarageQual","GarageCond","PoolQC","BsmtFinType1","BsmtFinType2","Functional"]]

In [53]:
ordinal_data.isna().sum()

BsmtQual          81
BsmtCond          82
BsmtExposure      82
ExterQual          0
ExterCond          0
HeatingQC          0
KitchenQual        1
FireplaceQu     1420
GarageQual       159
GarageCond       159
PoolQC          2909
BsmtFinType1      79
BsmtFinType2      80
Functional         2
dtype: int64

In [54]:
from sklearn.impute import SimpleImputer

s_imp = SimpleImputer(strategy="most_frequent")

imputed_ordinals = s_imp.fit_transform(ordinal_data)

In [55]:
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder()

encoded_ordinals = oe.fit_transform(imputed_ordinals)

In [56]:
encoded_ordinal_data = pd.DataFrame(encoded_ordinals,columns=ordinal_data.columns)

In [57]:
encoded_ordinal_data.head()

,BsmtQual,BsmtCond,BsmtExposure,ExterQual,ExterCond,HeatingQC,KitchenQual,FireplaceQu,GarageQual,GarageCond,PoolQC,BsmtFinType1,BsmtFinType2,Functional
0,2.0,3.0,3.0,2.0,4.0,0.0,2.0,2.0,4.0,4.0,0.0,2.0,5.0,6.0
1,2.0,3.0,1.0,3.0,4.0,0.0,3.0,4.0,4.0,4.0,0.0,0.0,5.0,6.0
2,2.0,3.0,2.0,2.0,4.0,0.0,2.0,4.0,4.0,4.0,0.0,2.0,5.0,6.0
3,3.0,1.0,3.0,3.0,4.0,2.0,2.0,2.0,4.0,4.0,0.0,0.0,5.0,6.0
4,2.0,3.0,0.0,2.0,4.0,0.0,2.0,4.0,4.0,4.0,0.0,2.0,5.0,6.0

In [58]:
encoded_ordinal_data.shape

(2919, 14)

In [59]:
numeric_data.shape

(2919, 19)

In [60]:
left_data = cathegorical_data.drop(ordinal_data.columns,axis=1)

In [61]:
imputed_left = s_imp.fit_transform(left_data)
imputed_left

array([['RL', 'Pave', 'Grvl', ..., 'Shed', 'WD', 'Normal'],
       ['RL', 'Pave', 'Grvl', ..., 'Shed', 'WD', 'Normal'],
       ['RL', 'Pave', 'Grvl', ..., 'Shed', 'WD', 'Normal'],
       ...,
       ['RL', 'Pave', 'Grvl', ..., 'Shed', 'WD', 'Abnorml'],
       ['RL', 'Pave', 'Grvl', ..., 'Shed', 'WD', 'Normal'],
       ['RL', 'Pave', 'Grvl', ..., 'Shed', 'WD', 'Normal']], dtype=object)

In [62]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(drop="first")

In [63]:
encoded_left = ohe.fit_transform(imputed_left)

In [64]:
encoded_left_data = pd.DataFrame(encoded_left.toarray())
encoded_left_data.head()

,0,1,2,3,4,5,6,7,8,9,...,146,147,148,149,150,151,152,153,154,155
0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [83]:
from sklearn.decomposition import PCA

pca = PCA(n_components = 1,random_state=0)
pca_values = pca.fit_transform(encoded_left_data)
pca_data = pd.DataFrame(pca_values)

In [84]:
pca_data["SalePrice"]= numeric_data["SalePrice"].values

In [85]:
pca_data.corr()["SalePrice"]

0            0.606046
SalePrice    1.000000
Name: SalePrice, dtype: float64

In [86]:
last_data = pd.concat([imputed_numeric,encoded_ordinal_data,pca_data],axis=1)

In [87]:
last_data.shape

(2919, 35)

In [91]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaled_last_data = scaler.fit_transform(last_data.drop("SalePrice",axis=1))

In [94]:
scaled_last_data = pd.DataFrame(scaled_last_data,columns=last_data.drop("SalePrice",axis=1).columns)
scaled_last_data["SalePrice"] = numeric_data["SalePrice"].values
scaled_last_data.head()

,LotFrontage,OverallQual,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,TotalBsmtSF,1stFlrSF,2ndFlrSF,GrLivArea,...,KitchenQual,FireplaceQu,GarageQual,GarageCond,PoolQC,BsmtFinType1,BsmtFinType2,Functional,0,SalePrice
0,-0.211533,0.646183,1.046258,0.896833,0.523085,0.581019,-0.444044,-0.773861,1.207379,0.413547,...,-0.415996,-0.415879,0.233534,0.18646,-0.043668,-0.449736,0.315909,0.256806,1.519030,208500.0
1,0.475482,-0.063185,0.154764,-0.395604,-0.573551,1.178211,0.477314,0.261075,-0.785025,-0.471891,...,0.782713,1.853186,0.233534,0.18646,-0.043668,-1.546918,0.315909,0.256806,-0.425424,181500.0
2,-0.074130,0.646183,0.980221,0.848965,0.332852,0.097997,-0.298806,-0.610718,1.235375,0.563755,...,-0.415996,1.853186,0.233534,0.18646,-0.043668,-0.449736,0.315909,0.256806,1.668282,223500.0
3,-0.440538,0.646183,-1.859351,-0.682812,-0.573551,-0.494804,-0.670980,-0.506205,0.978742,0.427382,...,-0.415996,-0.415879,0.233534,0.18646,-0.043668,-1.546918,0.315909,0.256806,-0.748492,140000.0
4,0.658686,1.355551,0.947203,0.753229,1.384727,0.469046,0.211799,-0.037170,1.671651,1.378042,...,-0.415996,1.853186,0.233534,0.18646,-0.043668,-0.449736,0.315909,0.256806,1.639389,250000.0

In [95]:
train_data = scaled_last_data[:1460]
test_data = scaled_last_data[1460:]

In [97]:
X_train = train_data.drop(["SalePrice"],axis = 1)
y_train = train_data["SalePrice"]

X_test = test_data.drop(["SalePrice"],axis = 1)

In [98]:
from sklearn.linear_model import LinearRegression

lm = LinearRegression()
lm.fit(X_train,y_train)

LinearRegression()

In [99]:
predictions = lm.predict(X_test)

In [100]:
output = pd.DataFrame({'Id': test['Id'].values, 'SalePrice': predictions})
output.to_csv('submission2.csv',index = False )

In [101]:
train_data.to_csv('train_data.csv',index = False )
test_data.to_csv('test_data.csv',index = False )