In [1]:
import pandas as pd 
import numpy as np

In [2]:
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline

In [3]:
test = pd.read_csv("test.csv")
train = pd.read_csv("train.csv")

In [4]:
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [5]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [7]:
train.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [8]:
data = pd.concat([train,test])
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 1458
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             2919 non-null   int64
 1   MSSubClass     2919 non-null   int64
 2   MSZoning       2915 non-null   object
 3   LotFrontage    2433 non-null   float64
 4   LotArea        2919 non-null   int64
 5   Street         2919 non-null   object
 6   Alley          198 non-null    object
 7   LotShape       2919 non-null   object
 8   LandContour    2919 non-null   object
 9   Utilities      2917 non-null   object
 10  LotConfig      2919 non-null   object
 11  LandSlope      2919 non-null   object
 12  Neighborhood   2919 non-null   object
 13  Condition1     2919 non-null   object
 14  Condition2     2919 non-null   object
 15  BldgType       2919 non-null   object
 16  HouseStyle     2919 non-null   object
 17  OverallQual    2919 non-null   int64
 18  OverallCond    2919 non-null   int64
 19  YearBuilt      2919 non-null   int64
 20  YearRemodAdd   2919 non-null   int64
 21  RoofStyle      2919 non-null   object
 22  RoofMatl       2919 non-null   object
 23  Exterior1st    2918 non-null   object
 24  Exterior2nd    2918 non-null   object
 25  MasVnrType     2895 non-null   object
 26  MasVnrArea     2896 non-null   float64
 27  ExterQual      2919 non-null   object
 28  ExterCond      2919 non-null   object
 29  Foundation     2919 non-null   object
 30  BsmtQual       2838 non-null   object
 31  BsmtCond       2837 non-null   object
 32  BsmtExposure   2837 non-null   object
 33  BsmtFinType1   2840 non-null   object
 34  BsmtFinSF1     2918 non-null   float64
 35  BsmtFinType2   2839 non-null   object
 36  BsmtFinSF2     2918 non-null   float64
 37  BsmtUnfSF      2918 non-null   float64
 38  TotalBsmtSF    2918 non-null   float64
 39  Heating        2919 non-null   object
 40  HeatingQC      2919 non-null   object
 41  CentralAir     2919 non-null   object
 42  Electrical     2918 non-null   object
 43  1stFlrSF       2919 non-null   int64
 44  2ndFlrSF       2919 non-null   int64
 45  LowQualFinSF   2919 non-null   int64
 46  GrLivArea      2919 non-null   int64
 47  BsmtFullBath   2917 non-null   float64
 48  BsmtHalfBath   2917 non-null   float64
 49  FullBath       2919 non-null   int64
 50  HalfBath       2919 non-null   int64
 51  BedroomAbvGr   2919 non-null   int64
 52  KitchenAbvGr   2919 non-null   int64
 53  KitchenQual    2918 non-null   object
 54  TotRmsAbvGrd   2919 non-null   int64
 55  Functional     2917 non-null   object
 56  Fireplaces     2919 non-null   int64
 57  FireplaceQu    1499 non-null   object
 58  GarageType     2762 non-null   object
 59  GarageYrBlt    2760 non-null   float64
 60  GarageFinish   2760 non-null   object
 61  GarageCars     2918 non-null   float64
 62  GarageArea     2918 non-null   float64
 63  GarageQual     2760 non-null   object
 64  GarageCond     2760 non-null   object
 65  PavedDrive     2919 non-null   object
 66  WoodDeckSF     2919 non-null   int64
 67  OpenPorchSF    2919 non-null   int64
 68  EnclosedPorch  2919 non-null   int64
 69  3SsnPorch      2919 non-null   int64
 70  ScreenPorch    2919 non-null   int64
 71  PoolArea       2919 non-null   int64
 72  PoolQC         10 non-null     object
 73  Fence          571 non-null    object
 74  MiscFeature    105 non-null    object
 75  MiscVal        2919 non-null   int64
 76  MoSold         2919 non-null   int64
 77  YrSold         2919 non-null   int64
 78  SaleType       2918 non-null   object
 79  SaleCondition  2919 non-null   object
 80  SalePrice      1460 non-null   float64
dtypes: float64(12), int64(26), object(43)
memory usage: 1.8+ MB

In [10]:
null_data = pd.DataFrame(data.isnull().sum(),columns=["Null Count"])
null_data[null_data["Null Count"]!=0]

              Null Count
MSZoning               4
LotFrontage          486
Alley               2721
Utilities              2
Exterior1st            1
Exterior2nd            1
MasVnrType            24
MasVnrArea            23
BsmtQual              81
BsmtCond              82
BsmtExposure          82
BsmtFinType1          79
BsmtFinSF1             1
BsmtFinType2          80
BsmtFinSF2             1
BsmtUnfSF              1
TotalBsmtSF            1
Electrical             1
BsmtFullBath           2
BsmtHalfBath           2
KitchenQual            1
Functional             2
FireplaceQu         1420
GarageType           157
GarageYrBlt          159
GarageFinish         159
GarageCars             1
GarageArea             1
GarageQual           159
GarageCond           159
PoolQC              2909
Fence               2348
MiscFeature         2814
SaleType               1
SalePrice           1459

In [11]:
# drop columns that are mostly null!
data.drop(["MiscFeature","Fence","Alley"],axis=1,inplace=True)

In [12]:
bsmnt_data = data[["BsmtQual","BsmtCond","BsmtExposure","BsmtFinType1","BsmtFinSF1","BsmtFinType2","BsmtFinSF2","BsmtUnfSF" \
                  ,"TotalBsmtSF","BsmtFullBath"]]
bsmnt_data.head(10)

,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,BsmtFullBath
0,Gd,TA,No,GLQ,706.0,Unf,0.0,150.0,856.0,1.0
1,Gd,TA,Gd,ALQ,978.0,Unf,0.0,284.0,1262.0,0.0
2,Gd,TA,Mn,GLQ,486.0,Unf,0.0,434.0,920.0,1.0
3,TA,Gd,No,ALQ,216.0,Unf,0.0,540.0,756.0,1.0
4,Gd,TA,Av,GLQ,655.0,Unf,0.0,490.0,1145.0,1.0
5,Gd,TA,No,GLQ,732.0,Unf,0.0,64.0,796.0,1.0
6,Ex,TA,Av,GLQ,1369.0,Unf,0.0,317.0,1686.0,1.0
7,Gd,TA,Mn,ALQ,859.0,BLQ,32.0,216.0,1107.0,1.0
8,TA,TA,No,Unf,0.0,Unf,0.0,952.0,952.0,0.0
9,TA,TA,No,GLQ,851.0,Unf,0.0,140.0,991.0,1.0

In [13]:
test = data

In [14]:
def encode_labels(i):
    
        if i == "Ex":
            return 5
            
        elif i == "Gd":
            return 4
            
        elif i == "Av":
            return 3
        
        elif i == "Mn":
            return 2

        elif i == "No":
            return 1
        
        elif i == "TA":
            return  3
            
        elif i == "Fa":
            return  2
            
        elif i == "Po":
            return  1
            
        elif i == "NA":
            return  0   
        
        else:
            return i

In [15]:
test["BsmtQual"] = list(map(encode_labels,test["BsmtQual"].values))
test["BsmtCond"] = list(map(encode_labels,test["BsmtQual"].values))
test["BsmtExposure"] = list(map(encode_labels,test["BsmtQual"].values))
test["ExterQual"] = list(map(encode_labels,test["BsmtQual"].values))
test["ExterCond"] = list(map(encode_labels,test["BsmtQual"].values))
test["HeatingQC"] = list(map(encode_labels,test["BsmtQual"].values))
test["KitchenQual"] = list(map(encode_labels,test["BsmtQual"].values))
test["FireplaceQu"] = list(map(encode_labels,test["BsmtQual"].values))
test["GarageQual"] = list(map(encode_labels,test["BsmtQual"].values))
test["GarageCond"] = list(map(encode_labels,test["BsmtQual"].values))
test["PoolQC"] = list(map(encode_labels,test["BsmtQual"].values))

In [16]:
encoded_test = test[["BsmtQual","BsmtCond","BsmtExposure","ExterQual","ExterCond","HeatingQC" \
     ,"KitchenQual","FireplaceQu","GarageQual","GarageCond","PoolQC"]]

In [17]:
encoded_test.isna().sum()

BsmtQual        81
BsmtCond        81
BsmtExposure    81
ExterQual       81
ExterCond       81
HeatingQC       81
KitchenQual     81
FireplaceQu     81
GarageQual      81
GarageCond      81
PoolQC          81
dtype: int64

In [18]:
encoded_test=encoded_test.dropna(how="all")

In [19]:
encoded_test.isna().sum()

BsmtQual        0
BsmtCond        0
BsmtExposure    0
ExterQual       0
ExterCond       0
HeatingQC       0
KitchenQual     0
FireplaceQu     0
GarageQual      0
GarageCond      0
PoolQC          0
dtype: int64

In [20]:
from sklearn.impute import KNNImputer

imputed_test = test[["BsmtQual","BsmtCond","BsmtExposure","ExterQual","ExterCond","HeatingQC" \
     ,"KitchenQual","FireplaceQu","GarageQual","GarageCond","PoolQC"]]
imputer = KNNImputer(n_neighbors=2, weights="uniform")

imputed_test = imputer.fit_transform(imputed_test)

In [21]:
imputed_test = pd.DataFrame(imputed_test)

imputed_test.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
dtype: int64

In [22]:
print(data.BsmtFinType1.unique())
print(data.BsmtFinType2.unique())

['GLQ' 'ALQ' 'Unf' 'Rec' 'BLQ' nan 'LwQ']
['Unf' 'BLQ' nan 'ALQ' 'Rec' 'LwQ' 'GLQ']

In [23]:
def encode_fintype(i):
    
        if i == "GLQ":
            return 6
            
        elif i == "ALQ":
            return 5
            
        elif i == "BLQ":
            return 4
        
        elif i == "Rec":
            return 3

        elif i == "LwQ":
            return 2
        
        elif i == "Unf":
            return  1
            
        elif i == "NA":
            return  0
            
        else:
            return  i

In [24]:
test["BsmtFinType1"] = list(map(encode_labels,test["BsmtQual"].values))
test["BsmtFinType2"] = list(map(encode_labels,test["BsmtQual"].values))

In [25]:
test[["BsmtFinType1","BsmtFinType2"]].isna().sum()

BsmtFinType1    81
BsmtFinType2    81
dtype: int64

In [26]:
test[["BsmtFinType1","BsmtFinType2"]] = imputer.fit_transform(test[["BsmtFinType1","BsmtFinType2"]])

In [27]:
test[["BsmtFinType1","BsmtFinType2"]].isna().sum()

BsmtFinType1    0
BsmtFinType2    0
dtype: int64

In [28]:
test[["BsmtQual","BsmtCond","BsmtExposure","ExterQual","ExterCond","HeatingQC" \
     ,"KitchenQual","FireplaceQu","GarageQual","GarageCond","PoolQC"]] = imputer.fit_transform(test[["BsmtQual","BsmtCond","BsmtExposure","ExterQual","ExterCond","HeatingQC" \
     ,"KitchenQual","FireplaceQu","GarageQual","GarageCond","PoolQC"]])

In [29]:
corr_matrix = test.corr()
print(corr_matrix["SalePrice"].sort_values(ascending=False))

SalePrice        1.000000
OverallQual      0.790982
GrLivArea        0.708624
GarageCars       0.640409
BsmtQual         0.635466
GarageCond       0.635466
HeatingQC        0.635466
FireplaceQu      0.635466
BsmtFinType2     0.635466
BsmtFinType1     0.635466
BsmtCond         0.635466
BsmtExposure     0.635466
ExterCond        0.635466
ExterQual        0.635466
PoolQC           0.635466
KitchenQual      0.635466
GarageQual       0.635466
GarageArea       0.623431
TotalBsmtSF      0.613581
1stFlrSF         0.605852
FullBath         0.560664
TotRmsAbvGrd     0.533723
YearBuilt        0.522897
YearRemodAdd     0.507101
GarageYrBlt      0.486362
MasVnrArea       0.477493
Fireplaces       0.466929
BsmtFinSF1       0.386420
LotFrontage      0.351799
WoodDeckSF       0.324413
2ndFlrSF         0.319334
OpenPorchSF      0.315856
HalfBath         0.284108
LotArea          0.263843
BsmtFullBath     0.227122
BsmtUnfSF        0.214479
BedroomAbvGr     0.168213
ScreenPorch      0.111447
PoolArea         0.092404
MoSold           0.046432
3SsnPorch        0.044584
BsmtFinSF2      -0.011378
BsmtHalfBath    -0.016844
MiscVal         -0.021190
Id              -0.021917
LowQualFinSF    -0.025606
YrSold          -0.028923
OverallCond     -0.077856
MSSubClass      -0.084284
EnclosedPorch   -0.128578
KitchenAbvGr    -0.135907
Name: SalePrice, dtype: float64

In [30]:
test["age"] = 2022 - test["YearBuilt"]

In [31]:
# it doesn't change the correlation 
test.drop("age",axis=1,inplace=True)

In [32]:
cathegorical_data = data.select_dtypes(include = "object")
cathegorical_data.head()

,MSZoning,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,Foundation,Heating,CentralAir,Electrical,Functional,GarageType,GarageFinish,PavedDrive,SaleType,SaleCondition
0,RL,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,...,PConc,GasA,Y,SBrkr,Typ,Attchd,RFn,Y,WD,Normal
1,RL,Pave,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,...,CBlock,GasA,Y,SBrkr,Typ,Attchd,RFn,Y,WD,Normal
2,RL,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,...,PConc,GasA,Y,SBrkr,Typ,Attchd,RFn,Y,WD,Normal
3,RL,Pave,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,...,BrkTil,GasA,Y,SBrkr,Typ,Detchd,Unf,Y,WD,Abnorml
4,RL,Pave,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,...,PConc,GasA,Y,SBrkr,Typ,Attchd,RFn,Y,WD,Normal

In [33]:
from sklearn.preprocessing import OneHotEncoder

oh_enc = OneHotEncoder(drop='first')
oh_enc.fit(cathegorical_data)

OneHotEncoder(drop='first')

In [34]:
cathegorical_data = oh_enc.transform(cathegorical_data).toarray()

In [35]:
cathegorical_data = pd.DataFrame(cathegorical_data)
cathegorical_data.head()

,0,1,2,3,4,5,6,7,8,9,...,155,156,157,158,159,160,161,162,163,164
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [36]:
from sklearn.decomposition import PCA

pca = PCA(n_components = 1)
pca.fit(cathegorical_data)
reduced_cathegorical = pd.DataFrame(pca.transform(cathegorical_data))

In [37]:
reduced_cathegorical

             0
0     1.599752
1    -0.450715
2     1.757186
3    -0.809165
4     1.727084
...        ...
2914 -0.888971
2915 -1.040338
2916 -0.499470
2917 -0.186523
2918  0.593667

[2919 rows x 1 columns]

In [38]:
#reduced_cathegorical = reduced_cathegorical.join(test["SalePrice"])
#reduced_cathegorical

In [39]:
#corr_matrix = reduced_cathegorical.corr()
#print(corr_matrix["SalePrice"].sort_values(ascending=False))

In [40]:
test.drop(test.select_dtypes(include="object"),axis = 1 ,inplace = True)

In [41]:
test["pca"] = reduced_cathegorical[0]

In [42]:
test.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,MiscVal,MoSold,YrSold,SalePrice,pca
0,1,60,65.0,8450,7,5,2003,2003,196.0,4.0,...,0,0,0,0,4.0,0,2,2008,208500.0,1.599752
1,2,20,80.0,9600,6,8,1976,1976,0.0,4.0,...,0,0,0,0,4.0,0,5,2007,181500.0,-0.450715
2,3,60,68.0,11250,7,5,2001,2002,162.0,4.0,...,0,0,0,0,4.0,0,9,2008,223500.0,1.757186
3,4,70,60.0,9550,7,5,1915,1970,0.0,3.0,...,272,0,0,0,3.0,0,2,2006,140000.0,-0.809165
4,5,60,84.0,14260,8,5,2000,2000,350.0,4.0,...,0,0,0,0,4.0,0,12,2008,250000.0,1.727084

In [43]:
train = test[:1460]

In [44]:
test = test[1460:]

In [45]:
X_train = train.drop("SalePrice",axis = 1)
y_train = train["SalePrice"]

X_test = test.drop("SalePrice",axis = 1)

In [46]:
X_train = pd.DataFrame(imputer.fit_transform(X_train))

In [47]:
X_test = pd.DataFrame(imputer.fit_transform(X_test))

In [48]:
from sklearn.linear_model import LinearRegression

lm = LinearRegression()
lm.fit(X_train,y_train)

LinearRegression()

In [49]:
predictions = lm.predict(X_test)

In [50]:
predictions

array([123044.36119272, 147555.50232095, 178261.12064137, ...,
       166062.53509104, 106980.92987988, 245874.75598073])

In [51]:
output = pd.DataFrame({'Id': test['Id'].values, 'SalePrice': predictions})
output.to_csv('submission.csv',index = False )

In [54]:
train.to_csv("numeric_train",index=False)

In [55]:
test.to_csv("numeric_test",index=False)